/node_modules
/database/data/users.json
/database/seeds/MyUserSeeder.php
/public/hot
/public/photo/*.jpg
/public/storage
/storage/*.key
/vendor
*.lock
laravel-echo-server.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
